<div class="card">
    <div class="card-body">
      <div class="employee-engineer"> <h5> {{ role }}</h5></div>
      <h3 class="card-title">{{ name }}</h3>
      <p class="card-text">ID: {{ id }}</p>
      <p class="card-text">Email: <a href="mailto:{{ email }}"> {{ email }}</a></p>
    </div>
    <div class="card-footer">
      <small class="text-muted engineer">GitHub: <a href="https://github.com/{{ github }}" target="_blank" rel="noopener noreferrer">{{ github }}</a></small>
    </div>
  </div>